<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyConnString111" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=POS_ALKamal;User Id=sa;Password=allah;Trusted_Connection=True;TrustServerCertificate=True;Timeout=30"/>
	</connectionStrings>

</configuration>